.demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 3rem;
    font-family: "Poppins", sans-serif;
    
    .demo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        gap: 1rem;

        h2 {
            font-size: 2.15rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .demo-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        width: 90%;

        article, figure {
            flex: 1 1 485px;
            background-color: white;
            border-radius: 12px;
            padding: 1rem;
        }

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 0.5rem;
                width: 65%;

                h3 {
                    font-size: 1.4rem;
                }
    
                p {
                    font-size: 1.05rem;
                    padding: 0.25rem 0.65rem;
    
                    i {
                        background: linear-gradient(90deg, rgba(255, 106, 31, 1) 10%, rgba(255, 160, 94, 1) 100%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .buttons-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                width: 100%; min-height: 120px;
                margin: 0 auto;
                gap: 1rem;

                .btn-demo, .btn-whatsapp {
                    max-width: 500px; height: 60px;
                    border-radius: 12px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 0.9rem;
                    flex: 1 1 250px;
                    transition: transform 0.35s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .btn-demo {
                    background: linear-gradient(90deg, rgba(255, 106, 31, 1) 10%, rgba(255, 160, 94, 1) 100%);
                }

                .btn-whatsapp {
                    background: #25D366;
                }
            }
        }

        figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;


            figcaption {
                width: 100%;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* ====================================================================================================
                                        DEMO - MOBILE VERSION
=======================================================================================================*/

@media (width < 720px) {
    .demo-container {
        width: 95%;

        .demo-content {
            article {
                section {
                    width: 100%;
                }
            }
        }
    }
}

/* ====================================================================================================
                                        DEMO - DESKTOP VERSION
=======================================================================================================*/

@media (width >= 720px) {
    
}
