.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    width: 95%; min-height: 100vh;
    font-family: "Poppins", sans-serif;

    .features-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        h2 {
            font-size: 2.15rem; 
        }

        p {
            font-size: 1.1rem;
        }

    }

    .features-section {
        article {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            place-items: center;
            cursor: pointer;
            box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            
            transition: box-shadow 0.35s ease;

            &:hover {
                box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.2);
            }
            


            i {
                width: 60px; height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }

            h2 {
                width: 100%;
                text-align: center;
            }

            p {
                width: 100%;
            }
        }
    }
}

/* ====================================================================================================
                                        FEATURES - MOBILE VERSION
=======================================================================================================*/

@media (width < 720px) {
    .features-container {
        width: 95%;
        gap: 5rem;

        .features-article {
            width: 80%;

            h2 {
                text-align: center;
            }
        }
        .features-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 85%;
            gap: 2rem;

            article {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                place-items: center;
                padding: 0.15rem 0.45rem;

                h2, p {
                    padding: 0.25rem 0.65rem;
                }


            }
        }
    }
}

/* ====================================================================================================
                                        FEATURES - DESKTOP VERSION
=======================================================================================================*/

@media (width >= 720px) {
    .features-container {
        gap: 5rem;
        
        .features-section {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
            gap: 2.5rem;
            width: 90%;

            article {
                padding: 0.85rem 2rem;
                gap: 0.65rem;
            }
        }
    }
}
