.key-benefits-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 5rem 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    h2 {
        font-size: 2.15rem;
        text-align: center;
        width: 100%;
    }

    section {
        article {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            text-align: center;
            padding: 1rem;
            gap: 2rem;
            border-radius: 12px;
            width: 425px; min-height: 200px;
            cursor: pointer;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: 0 auto;
                background: linear-gradient(90deg, rgba(255, 106, 31, 1) 10%, rgba(255, 160, 94, 1) 100%);
                width: 55px; height: 55px;
                color: white
            }
        }
    }
}

/* ====================================================================================================
                                        KEY BENEFITS - MOBILE VERSION
=======================================================================================================*/

@media (width < 720px) {
    .key-benefits-container {
        width: 90%;

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            article {
                width: 85%;
            }
        }
    }
}

/* ====================================================================================================
                                        KEY BENEFITS - DESKTOP VERSION
=======================================================================================================*/

@media (width > 720px) {
    .key-benefits-container {
        width: 95%;

        section {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
            width: 90%;
            gap: 2.5rem;
        }
    }
}