.secure-privace-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;

    .secure-privace {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 2rem;
        gap: 3.5rem;
    }

    .security {
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.35rem;
            width: 55px; height: 55px;
            border-radius: 50%;
            color: white;
            background: linear-gradient(90deg, rgba(255, 106, 31, 1) 10%, rgba(255, 160, 94, 1) 100%);  
        }

        h2 {
            font-size: 2.15rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .ready {
        color: white;
        background: linear-gradient(90deg, rgba(255, 106, 31, 1) 10%, rgba(255, 160, 94, 1) 100%);
        
        h2 {
            font-size: 2.15rem;
        }

        p {
            font-size: 1.1rem;
        }

        .buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 95%;
            gap: 1rem;

            .btn-demo, .btn-whatsapp {
                min-width: 290px; height: 60px;
                border-radius: 12px;
                font-size: 0.9rem;
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.35s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .btn-demo {
                padding: 0.5rem 1rem;
                border-radius: 12px;
                background-color: white;
                color: orangered;
            }

            .btn-whatsapp {
                padding: 0.5rem 1rem;
                border-radius: 12px;
                background-color: #25D366;
                color: white;
            }
        }
    }
}