.target-leads-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 2.5rem;
    width: 95%; min-height: 100vh;
    font-family: "Poppins", sans-serif;

    h2 {
        font-size: 2.15rem;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;

        div {
            cursor: pointer;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
            transition: box-shadow 0.35s ease;

            &:hover {
                box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

/* ====================================================================================================
                                        TARGET LEADS - MOBILE VERSION
=======================================================================================================*/

@media (width < 720px) {
    .target-leads-container {
        width: 90%;

        h2 {
            text-align: center;
        }
    }
}

/* ====================================================================================================
                                        TARGET LEADS - DESKTOP VERSION
=======================================================================================================*/

@media (width >= 720px) {
    .target-leads-container {
        width: 95%;
    }
}
